* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/036/594/542/non_2x/ai-generated-cooking-class-advertisment-background-with-copy-space-free-photo.jpg");
  background-repeat: no-repeat;
}

.nav_bar {
  background-color: rgb(99, 73, 4);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.nav_bar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: medium;
}

.main {
  text-align: center;
}

.title {
  margin-top: 10px;
  text-align: center;
}

.register_form {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #363636;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
  margin-bottom: 15px;
  padding: 6px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: medium;
}

input[type="submit"] {
  background-color: #ffc46b;
  color: #3f2600;
}
input[type="submit"]:hover {
  background-color: #3f2600;
  color: #ffc46b;
}

label {
  font-size: large;
  color: white;
}

.view_bakery {
  display: flex;
  justify-content: center;
}

table {
  width: 75%;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: antiquewhite;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}


th{
  background-color: #3f2600;
  color: #ffffff;
}

td a{
  background-color: #3f2600;
  padding: 6px;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}
td a:hover{
  background-color: #140c00;
}

.footer {
  text-align: center;
  margin-top: 50px;
  background-color: rgb(54, 40, 0);
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}